<div *ngIf="hero">
  <h2>{{ hero.team | uppercase }} Dependency Details</h2>

  <div><h3><label>Dependency Id # {{ hero.id }} </label></h3></div>

  <table>
    <tr>
    <td width="59%">
  <div>
    <label>Description: <input [(ngModel)]="hero.description" placeholder="Description" />
    </label>
  </div>
    </td>
    </tr>
    <tr>
    <td>
  <div>
    <label>Start Date: <input [(ngModel)]="hero.startDate" placeholder="Start Date"/>
    </label>
  </div>
    </td>
      <td>
  <div>
    <label>End Date: <input [(ngModel)]="hero.endDate" placeholder="End Date"/>
    </label>
  </div>
    </td>
    </tr>
    <tr>
    <td>
  <div>
    <label>Duration: <input [(ngModel)]="hero.duration" placeholder="duration"/>
    </label>
  </div>
  <div>
    <label>Sprint #: <input [(ngModel)]="hero.sprintNumber" placeholder="sprintNumber"/>
    </label>
  </div>
  <div>
    <label>Ticket #: <input [(ngModel)]="hero.ticketNumber" placeholder="Ticket Number"/>
    </label>
  </div>
    </td>
    </tr>
  </table>
  <button (click)="goBack()" class="btn btn-primary"> back</button>
  <button type="submit" class="btn btn-primary">Save changes</button>
</div>

