<div class="form-style">
    <legend>
        <strong> Dependency Form</strong>
    </legend>
    <form #dependencyForm="ngForm" (ngSubmit)="save(dependencyForm.value)">
        <div>
            <label for="project-select">Select a Project:</label>
            <select id="project-select">
                <option value="project1">Project X</option>
                <option value="project2">Project Y</option>
                <option value="project3">Project Z</option>

                <option value="none" selected>--Please choose a Project--</option>
            </select>
        </div>

        <div>
            <label for="team-select">Select a Team:</label>
            <select id="team-select">
                <option value="team1">Team 1</option>
                <option value="team2">Team 2</option>
                <option value="team3">Team 3</option>

                <option value="none" selected>--Please choose a Team--</option>
            </select>
        </div>

        <div>
            <label for="sprint-select">Select a Sprint:</label>
            <select id="sprint-select">
                <option value="sprint1">Sprint 1</option>
                <option value="sprint2">Sprint 2</option>
                <option value="sprint3">Sprint 3</option>

                <option value="none" selected>--Please choose a Sprint--</option>
            </select>
        </div>

        <div>
            <label for="startDate">Start date/time:</label>

            <input id="startDate" type="datetime-local" name="startDate" [(ngModel)]="model.startDate" name="startDate">
        </div>
        <div>
            <label for="endDate">End date/time:</label>

            <input id="endDate" type="datetime-local" name="endDate" [(ngModel)]="model.endDate" name="endDate">
        </div>
        <br>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                <label class="custom-control-label" for="customCheck1">Active</label>
            </div>
            <br>
            <div class="form-group">
                <div>
                    <label for="notes">Notes:</label>
                    <textarea [(ngModel)]="model.notes" id="notes" name="notes">
Type your note here
                                  </textarea>
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea [(ngModel)]="model.description" name="description" id="description" rows="3" cols="33" maxlength="200" wrap="hard">
Please type your description here
                                  </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <label>Create </label>
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </form>